/* src/pages/Home.css */

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
    background-image: url('../../public/assets/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    gap: 30px;
}
